{% extends "base.html" %}
{% block title %}Karung Guni - Products{% endblock %}

{% block content %}
<h1 class="display-4" xmlns="http://www.w3.org/1999/html"><b>Marketplace</b></h1>
<div>
  {% if count == 0 %}
  <p>There are no products.</p>
  {% elif count == 1 %}
  <p>There is 1 product.</p>
  {% else %}
  <p>There are {{ count }} products.</p>
  {% endif %}
</div>
<div class="d-flex flex-wrap">
  {% for product in products_list %}
  <div class="card m-3" style="width: 18rem; border: 1px solid black;">
    <img src="{{ url_for('static', filename='uploads/' + product.get_image()) }}" class="card-img-top" alt="Product Image" style="width: 100%; height: 200px; object-fit: cover;">
    <div class="card-body">
      <p class="card-text"><b>Product ID:</b> {{ product.get_product_id() }}</p>
      <p class="card-text"><b>Name:</b>  {{product.get_name() }}</p>
      <p class="card-text"><b>Object Type:</b> {{ product.get_objectType() }}</p>
      <p class="card-text"><b>Condition:</b> {{ product.get_condition() }}</p>
      <p class="card-text"><b>Weight (kg):</b> {{ product.get_weight() }}</p>
      <p class="card-text"><b>Quantity of Objects:</b> {{ product.get_quantity() }}</p>
      <p class="card-text"><b>Price per Unit (SGD):</b> {{ product.get_ppu() }}</p>
      <p class="card-text"><b>Description (optional):</b> {{ product.get_description() }}</p>
      <div class="d-flex justify-content-between">
        <a href="/updateProduct/{{product.get_product_id()}}" class="btn btn-warning">Update</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{product.get_product_id()}}">
          Delete
        </button>
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal" id="myModal_{{product.get_product_id()}}">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete Confirmation</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to delete product {{product.get_product_id()}}?
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <form action="{{url_for('delete_product', id=product.get_product_id())}}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </form>
        </div>

      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}